.languager1 #work-id{
    text-align: center;
    font-size: 3rem;
    color:black;
    margin: 39px 0px 27px 0px;
}

.languager1 #third-col--flex img{
    width: 250px;
    height: auto;
    align-content: center;
    border-radius: 8px;    
}

.languager1 #third-col--flex{
    display: flex;
    justify-content: center;
    gap: 3.5em;
}

.languager1 #third-col--flex div{
    width: 250px;
    height: 380px;
    background-color: #ffffff;
    border:1px solid #dadada;
    margin-top: 1.8em;
    padding: 10px;
    border-radius: 10px;
}

.languager1 #third-col--flex div a{
    text-decoration: none;
}

.languager1 #third-col--flex div:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.8s;
    background-color: #dadada;
}


.languager1 #third-col--flex span{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.languager1 #third-col--flex p{
    font-size: 1rem;
    color: black;
    margin-top: 1.7em;
    line-height: 24px;
}

/* --------------------------------------------------------------------------------- */
.languager2 #work-id{
    text-align: center;
    font-size: 3rem;
    color:black;
    margin: 39px 0px 27px 0px;
}

.languager2 #third-col--flex img{
    width: 250px;
    height: auto;
    align-content: center;
    border-radius: 8px;    
}

.languager2 #third-col--flex{
    display: flex;
    justify-content: center;
    gap: 3.5em;
}

.languager2 #third-col--flex div{
    width: 250px;
    height: 380px;
    background-color: #ffffff;
    border:1px solid #dadada;
    margin-top: 1.8em;
    padding: 10px;
    border-radius: 10px;
}

.languager2 #third-col--flex div a{
    text-decoration: none;
}

.languager2 #third-col--flex div:hover{
    cursor: pointer;
    scale: 1.1;
    transition: 0.8s;
    background-color: #dadada;
}


.languager2 #third-col--flex span{
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.languager2 #third-col--flex p{
    font-size: 1rem;
    color: black;
    margin-top: 1.7em;
    line-height: 24px;
}